.search {
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px 10px;
    border: 1px solid;
    border-radius: 3px;
    font: normal normal bold 16px/normal "华文中宋", "楷体", sans-serif;
    color: white;
}